.formImg {
  font-weight: 600;
  padding: 10px 0;
  margin-bottom: 10px;
  width: 100%;

  .banner {
    border: 1px solid #ced4da;
    width: fit-content;
    img {
      max-height: 310px;
      max-width: 100%;
    }
  }

  .avatar img,
  .logo img {
    border: 1px solid #ced4da;
    border-radius: 50%;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100px;
    object-fit: contain;
  }

  .btnUpload {
    min-width: 80%;
  }

  .btnUploadZone {
    padding-top: 11px;
    // padding: 0 20px;
  }
}
