@import '~/pages/custom.scss';

.formInterests {
  font-weight: 600;
  padding: 10px 0;
  width: 100%;

  .interestsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    @media (max-width: 700px) {
      grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    }
    @media (max-width: 480px) {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
  }

  .interest {
    margin: 5px;
    text-align: center !important;

    .imgInterest {
      max-width: 140px;
      width: 100%;
      transition-duration: 0.2s;

      @media (max-width: 577px) {
        margin: auto;
      }

      &:hover {
        cursor: pointer;
        max-width: 140px;
        width: 100%;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
        transition-duration: 0.2s;
      }
    }

    .selected {
      border: 7px solid #04de42;
      border-radius: 5px;
    }

    .interestElement {
      position: absolute;
      left: -9999px;
    }
    &:focus-within {
      box-shadow: 0 0 0 2px #2987cd;
    }
    label {
      margin-bottom: 0px !important;
    }
  }
}
